.big-banner {
  background: url(runway.webp);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  animation: scaleUp 5s ease-in;
}

.img-card {
  background: url(jumpsuit.jpg);
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

@keyframes scaleUp {
  from {
    transform: scale(0) rotateY(180deg);
  }
  to {
    transform: scale(1);
  }
}
